* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  /* border: 2px solid; */
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  font-family: "Poppins", sans-serif;
  /* transition: 10s; */
}

nav ul li :hover {
  color: black;
}

a {
  text-decoration: none;
  color: #f9004a;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  transition: color 0.5s;
}

a:hover {
  color: black;
}

.click-remove {
  text-decoration: none;
  color: #f9004a;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  transition: color 0.5s;
}

.click-remove:hover {
  color: black;
}

.counter-container {
  display: flex;
}

.counter-button {
  font-size: 20px;
  font-weight: 900;
  border: 1px solid grey;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.counter-text {
  margin: 0 20px;
  font-size: 22px;
  color: grey;
  width: 26px;
  text-align: center;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  /* border: 2px solid; */
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 2px solid; */
  margin-left: 30px;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
  /* border: 2px solid; */
}

.col-2 img {
  max-width: 100%;
  /* padding: 20px 0; */
}

/* .header {
    background: radial-gradient(#fff, #f1d8e0);
    box-shadow: 0px 0px 20px #c48787;

} */

/* ----------------- footer -------------------- */
.footer {
  background: radial-gradient(#fff, #f1d8e0);
  color: black;
  font-size: 14px;
  padding: 20px 0 10px;
  box-shadow: 0px 0px 20px #c48787;
  margin: 40px;
  width: 100%;
  /* border: 2px solid; */
  /* bottom: 0px; */
  /* position: absolute; */
  margin-left: 0px;
  /* margin-bottom: 0px; */
  font-family: "Poppins", sans-serif;
  margin-bottom: 0px;
}

.footer p {
  color: #000000;
}

.footer h3 {
  color: black;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex-basis: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.app-logo {
  margin-top: 20px;
}

.app-logo img {
  width: 140px;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.copyright {
  text-align: center;
}

/* ------CART ITEM----- */

.cart-page {
  margin: 80px 170px;
  /* border: 2px solid; */
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 5px;
  color: black;
  background-color: #f1d8e0;
  font-family: "Poppins", sans-serif;
}

.cart-info img {
  padding-top: 10px;
  width: 70px;
  /* border: 2px solid; */
}

.cart-info div {
  /* border: 2px solid; */
  padding-top: 35px;
  padding-left: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.cart-info a {
  font-size: 12px;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 2px black solid;
  width: 100%;
  max-width: 350px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 35px;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}
